<section class="contact">
  <h2>{{ content.value.0.value }}</h2>
  {{ content.value.1.value }}
  <div class="form">
    <div class="form-wrapper">
      <input id="contact-name" type="text" placeholder="tu nombre">
      <input id="contact-email" type="text" placeholder="tu@email.com">
      <textarea id="contact-message" type="text" placeholder="tu mensaje"></textarea>
      <button id="contact-btn" type="submit">enviar</button>
    </div>
  </div>
</section>