<section class="newsletter">
  <h2>{{ content.value.0.value }}</h2>
  <p>{{ content.value.1.value }}</p>

  <div class="form">
    <div class="form-wrapper">
      <form action="" method="POST">
        <input id="newsletter-email" type="text" placeholder="tu@email.com" title="Newsletter Sign-Up">
        <button id="newsletter-btn" type="submit">Registrarse</button>
      </form>
    </div>
  </div>
</section>